.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/misc.xml
.idea/jarRepositories.xml
.idea/encodings.xml
.idea/compiler.xml
.idea/.gitignore
target/
.settings/
.project
.classpath
.idea/
*.log
